@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    
    
}

body {
    background: #1b1c1c;
}

/* Nav */

nav {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    font-size: 24px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
    
}

nav h4 {
    margin: 10px;
    color: white;
    margin-left: 60px;
    font-family: 'Staatliches', cursive;
}

nav li {
    margin: 0;
    padding: 10px 100px;
    
    
}

nav li:hover {
    background: #b8aa67;
    text-decoration: underline;
    
}

nav a {
    text-decoration: none;
    color: white;
    width: 100%;
    
}


/* Main section - solver interface */

#main {
    text-align: center;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('img/backgroundimg.jpeg') no-repeat center center/cover;
    
    
}


#main * {
    z-index: 10;
}

#main form input {
    
    
    text-align: center;
    font-size: 24px;
    border: 3px solid #b8aa67;
    border-radius: 20px;
    background: #333;
    color: #fff;
    margin: 0 20px;
}

#main form input[type="button"] {
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    background: #333;
    color: #fff;
}

#main form input[type="button"]:hover {
    background: #6e653d;
}




/* about section */

#about {
    text-align: center;
    height: 100vh;
    background: #333;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #fff;
}

/* utilities */

.description {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin: 20px 200px;
    margin-bottom: 5px;
    padding: 30px;
    color: #fff;


}

.description p {
    font-size: 24px;
}

.description strong {
    font-weight: bolder;
    
}

.description h1, .description h3 {
    font-size: 48px;
    font-family: 'Staatliches', cursive;
}





