@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

/* Nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: hsl(0, 0%, 0%);
    font-size: 24px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
    
}

nav h4 {
    margin: 10px;
    color: white;
    margin-left: 60px;
}

nav li {
    margin: 0;
    padding: 10px 100px;
    
    
}

nav li:hover {
    background: #20821e;
    text-decoration: underline;
    
}

nav a {
    text-decoration: none;
    color: white;
    
}


/* Main section - solver interface */

#main {
    text-align: center;
    height: 100vh;
    background: url("/backgroundimg.jpeg") no-repeat center center/cover;
    
}


#main * {
    z-index: 10;
}




/* about section */

#about {
    text-align: center;
    height: 100vh;
    background: #333;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: #fff;
}

/* utilities */

.description {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: #fff;


}

.description h1, .description h3 {
    font-size: 48px;
}